<div class="detail-annonce">
    <h2>Recrutement de tuteurs</h2>
    <p><strong>Champ disciplinaire:</strong> [À préciser]</p>
    <p><strong>Pôle/Direction:</strong> [À préciser]</p>
    <p><strong>Niveau requis:</strong> Master2</p>
    <p><strong>Documents:</strong></p>
    <ul>
      <li>Curriculum Vitae</li>
      <li>Lettre de motivation</li>

      <li>Diplôme</li>
      <li>Autres</li>
    </ul>
    <p><strong>Description:</strong></p>
    <p>
      OBJET : appel à candidature pour lle recrutement de tuteurs
    <p>
      Dans le cadre de la rentrée académique 2024-2025 
    </p>
    <p>Les modules ouverts à candidature sont les suivants :</p>
    <ul>
      <li>Anglais</li>
      <li>Porjet operationel</li>
      <li>informatique</li>
    </ul>
    <p>en respectant le contenu pédagogique 
    </p>
    <!-- Ajoutez ici les détails supplémentaires de l'annonce -->
    <button class="btn-primary" (click)="postuler()">Postuler</button>
  </div>
  