<div class="detail-annonce">
  <h1>{{ title }}</h1>
  <p><strong>{{ discipline }}</strong></p>
  <p><strong>{{ levelRequired }}</strong></p>
  <h3>Documents requis :</h3>
  <ul>
    <li *ngFor="let document of requiredDocuments">{{ document }}</li>
  </ul>
  <h3>Description :</h3>
  <p>{{ description }}</p>

  <h3>Modules disponibles :</h3>
  <div class="module" *ngFor="let module of modules">
    <h4>{{ module.name }}</h4>
    <p><strong>Objectif :</strong> {{ module.objective }}</p>
    <h5>Critères de sélection :</h5>
    <ul>
      <li *ngFor="let requirement of module.requirements">{{ requirement }}</li>
    </ul>
  </div>

  <p>
    <strong>Date de clôture :</strong>
    <span class="date-cloture">{{ closingDate }}</span>
  </p>
</div>
