<!-- src/app/admin/create-ad.component.html -->
<h2>Créer une Nouvelle Annonce</h2>
<form [formGroup]="adForm" (ngSubmit)="onSubmit()">

   <mat-form-field appearance="fill">
     <mat-label>Titre</mat-label>
     <input matInput formControlName="title" required>
     <mat-error *ngIf="adForm.get('title').invalid">Titre requis</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill">
     <mat-label>Description</mat-label>
     <textarea matInput formControlName="description" required></textarea>
     <mat-error *ngIf="adForm.get('description').invalid">Description requise</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill">
     <mat-label>Année Académique</mat-label>
     <input matInput formControlName="academicYear" required>
     <mat-error *ngIf="adForm.get('academicYear').invalid">Année académique requise</mat-error>
   </mat-form-field>

   <button mat-raised-button type="submit" [disabled]="adForm.invalid">Créer Annonce</button>
</form>
