<!-- src/app/candidate/status.component.html -->
<h2>Statut de Mes Candidatures</h2>
<table mat-table [dataSource]="applications" class="mat-elevation-z8">
  
  <ng-container matColumnDef="jobTitle">
    <th mat-header-cell *matHeaderCellDef>Titre de l'annonce</th>
    <td mat-cell *matCellDef="let application">{{ application.jobTitle }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Statut</th>
    <td mat-cell *matCellDef="let application">{{ application.status }}</td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef>Motif</th>
    <td mat-cell *matCellDef="let application">{{ application.reason || 'N/A' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['jobTitle', 'status', 'reason']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['jobTitle', 'status', 'reason'];"></tr>
</table>
