<header class="navbar">
  <div class="navbar-logo">
    <img src="assets/Logo_UN.png" alt="Logo UN-CHK">
  </div>
  <ul class="navbar-links">
    <li><a routerLink="">Accueil</a></li>
    <li><a href="https://www.unchk.sn/" target="_blank">À propos</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="connexion">Se connecter</a></li>
    <li><a routerLink="inscription">S'inscrire</a></li>
  </ul>
</header>

<section id="hero" class="hero">
  <div class="hero-content">
    <h1>Bienvenue sur la Plateforme de Recrutement des tuteurs de l'UN-CHK</h1>
    <button class="btn-primary" (click)="voirDetails()">Voir les détails de l'annonce</button>
  </div>
</section>

<section id="contact" class="contact">
  <h2>Contactez-nous</h2>
  <p>Pour toute information, n'hésitez pas à nous contacter.</p>
</section>

<footer class="footer">
  <p>&copy; 2025 Université Numérique Cheikh Hamidou KANE. Tous droits réservés.</p>
</footer>
